<!DOCTYPE html>
<html>
<head>
	<title>order</title>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<div id="b-placeholder">

</div>

<script>
$(function(){
  $("#b-placeholder").load("menu3.hbs #abc2");
});
</script>
</body>
</html>